@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7b3b7b;
  --primary-light: #e1c8e7;
  --primary-dark: #310043;
  --secondary: #fff5cd;
  --heading: #7b3b7b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-heading: var(--heading);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .bg-orchid {
    @apply bg-gradient-to-r from-[#925FA6] from-70% to-[#CEA9D0];
  }
  .bg-orchid-vertical-b {
    @apply bg-gradient-to-b from-[#925FA6] from-70% to-[#CEA9D0];
  }
  .bg-orchid-vertical-t {
    @apply bg-gradient-to-t from-[#925FA6] from-70% to-[#CEA9D0];
  }
  .bg-orchid-light {
    @apply bg-gradient-to-r from-[#925FA6] from-70% to-[#A685A6];
  }
}
.bg-secondary-gradient-b {
  @apply bg-gradient-to-b from-[#Ffe375] from-40% to-[#FDF5CD];
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: transparent;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
